# Временные папки Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
.utmp/

# Логи и кэш редакторов
*.log
.vs/
.gradle/
.vscode/

# Файлы решений и проектов
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Временные файлы Unity3D
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*

# Сборки
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Файлы плагинов и генерации
/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user
crashlytics-build.properties

# Исключения для Addressables и скриптинга
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/Unity.VisualScripting.Generated/

# Ваши личные исключения (если нужно скрыть эти файлы)
ROUTINE.txt
IDEAS.md
ROADMAP.md